* {
    font-family: poppins;
}

.header {
    background-color: #171717;
}

.header h1 {
    color: #EDEDED;
}

.header p {
    color: #EDEDED;
}

.home {
    padding: 20px;
}

.home h2 {
    color: black;
}

.home p {
    color: black;
    margin-bottom: 10px;
}

.home img {
    width: 500px; 
    height: auto;
    display: block;
    margin: 20px 0;
}